In [3]:
import pandas as pd
import numpy as np

student_data = pd.DataFrame({
'school_code': ['s001','s002','s003','s001','s002','s004'],
'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
'date_Of_Birth ': ['15/05/2002','17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
'age': [12, 12, 13, 13, 14, 12],
'height': [173, 192, 186, 167, 151, 159],
'weight': [35, 32, 33, 30, 31, 32],
'address': ['street1', 'street2', 'street3', 'street1', 'street2', 'street4']},
index=['S1', 'S2', 'S3', 'S4', 'S5', 'S6'])

student_data

,school_code,class,name,date_Of_Birth,age,height,weight,address
S1,s001,V,Alberto Franco,15/05/2002,12,173,35,street1
S2,s002,V,Gino Mcneill,17/05/2002,12,192,32,street2
S3,s003,VI,Ryan Parkes,16/02/1999,13,186,33,street3
S4,s001,VI,Eesha Hinton,25/09/1998,13,167,30,street1
S5,s002,V,Gino Mcneill,11/05/2002,14,151,31,street2
S6,s004,VI,David Parkes,15/09/1997,12,159,32,street4

In [4]:
group_A = student_data[student_data['school_code'] == 's001']
group_A

,school_code,class,name,date_Of_Birth,age,height,weight,address
S1,s001,V,Alberto Franco,15/05/2002,12,173,35,street1
S4,s001,VI,Eesha Hinton,25/09/1998,13,167,30,street1

In [5]:
group_B = student_data[student_data['school_code'] == 's002']
group_B

,school_code,class,name,date_Of_Birth,age,height,weight,address
S2,s002,V,Gino Mcneill,17/05/2002,12,192,32,street2
S5,s002,V,Gino Mcneill,11/05/2002,14,151,31,street2

In [6]:
group_C = student_data[student_data['school_code'] == 's003']
group_C

   school_code class         name date_Of_Birth   age  height  weight  address
S3        s003    VI  Ryan Parkes     16/02/1999   13     186      33  street3

In [7]:
group_D = student_data[student_data['school_code'] == 's004']
group_D

,school_code,class,name,date_Of_Birth,age,height,weight,address
S6,s004,VI,David Parkes,15/09/1997,12,159,32,street4

In [24]:
statistics = {
'Group' : ['A','B','C','D'],  
'stdev_age' : [(group_A['age'].std()), (group_B['age'].std()), (group_C['age'].std()), (group_D['age'].std())],
'avg_age' : [(group_A['age'].mean()), (group_B['age'].mean()), (group_C['age'].mean()), (group_D['age'].mean())],
'stdev_height' : [(group_A['height'].std()), (group_B['height'].std()), (group_C['height'].std()), (group_D['height'].std())],
'avg_height' : [(group_A['height'].mean()), (group_B['height'].mean()), (group_C['height'].mean()), (group_D['height'].mean())],
'stdev_weight' : [(group_A['weight'].std()), (group_B['weight'].std()), (group_C['weight'].std()), (group_D['weight'].std())],
'avg_weight' : [(group_A['weight'].mean()), (group_B['weight'].mean()), (group_C['weight'].mean()), (group_D['weight'].mean())]
}

df = pd.DataFrame(statistics)
df

,Group,stdev_age,avg_age,stdev_height,avg_height,stdev_weight,avg_weight
0,A,0.707107,12.5,4.242641,170.0,3.535534,32.5
1,B,1.414214,13.0,28.991378,171.5,0.707107,31.5
2,C,NaN,13.0,NaN,186.0,NaN,33.0
3,D,NaN,12.0,NaN,159.0,NaN,32.0